### Charger unplugged ###
SUBSYSTEM=="power_supply", ACTION=="change", \
ENV{POWER_SUPPLY_ONLINE}=="0", ENV{POWER}="off", \
OPTIONS+="last_rule", \
RUN+="/bin/su $env{XUSER} -c 'echo 2 > /sys/class/leds/tpacpi\:\:kbd_backlight/brightness'"

SUBSYSTEM=="power_supply", ACTION=="change", \
ENV{POWER_SUPPLY_ONLINE}=="0", ENV{POWER}="off", \
OPTIONS+="last_rule", \
RUN+="/bin/su $env{XUSER} -c 'echo 1b > /sys/class/leds/tpacpi\:\:kbd_backlight/brightness'"

### Charger plugged ###
SUBSYSTEM=="power_supply", ACTION=="change", \
ENV{POWER_SUPPLY_ONLINE}=="1", ENV{POWER}="on", \
OPTIONS+="last_rule", \
RUN+="/bin/su $env{XUSER} -c 'echo 2 > /sys/class/leds/tpacpi\:\:kbd_backlight/brightness'"

SUBSYSTEM=="power_supply", ACTION=="change", \
ENV{POWER_SUPPLY_ONLINE}=="1", ENV{POWER}="on", \
OPTIONS+="last_rule", \
RUN+="/bin/su $env{XUSER} -c 'echo 1 > /sys/class/leds/tpacpi\:\:kbd_backlight/brightness'"
